<template>
  <div class="about">
    <Rides :rides="rides" />
  </div>
</template>

<script>
// @ is an alias to /src
import Rides from '@/components/Rides.vue'

export default {
  name: 'HomeView',
  components: {
    Rides
  },
  data() {
    return {
      rides: [
        {
          id: 1,
          title: 'Blaise Castle Loop',
          date: '16th Sept 2022',
          img: '',
          rating: 4
        },
        {
          id: 2,
          title: 'Ride 2',
          date: '17th Sept 2022',
          img: '',
          rating: 3
        },
      ]
    }
  }
}
</script>
  
