<template>
    <div class="club">
        <div class="page-container">

            <button class="members">Club Members</button>
            <button class="info">Club Info</button>

            <SectionTitle title="Club Rides" />
            <p>Join other club members on a ride.</p>
            <p>Select a ride below to see more and to join up.</p>
            <Rides :rides="upcomingRides" />

            <SectionTitle title="Favourite Rides" />
            <p>Here are some of the clubs most favourite rides.</p>
            <p>Select a ride below to see more and to join up.</p>
            <Rides :rides="favourites" />
        </div>
    </div>
</template>
  
<script>
// @ is an alias to /src
import Rides from '@/components/Rides.vue'
import SectionTitle from '@/components/SectionTitle.vue'

export default {
    name: 'HomeView',
    components: {
        Rides,
        SectionTitle
    },
    data() {
        return {
            upcomingRides: [
                {
                    title: 'Blaise Castle Loop',
                    date: '17th Sept 2022',
                    img: 'blaise-loop.png',
                    difficulty: 'Easy',
                    rating: 3
                },
                {
                    title: 'Three Brooks',
                    where: 'Bristol',
                    date: '16th Sept 2022',
                    img: 'three-brooks.png',
                    difficulty: 'Medium',
                    rating: 4
                }
            ],
            favourites: [
                {
                    title: 'Three Brooks',
                    where: 'Bristol',
                    date: '16th Sept 2022',
                    img: 'three-brooks.png',
                    difficulty: 'Hard',
                    rating: 4
                },
                {
                    title: 'Blaise Loop',
                    date: '17th Sept 2022',
                    img: 'blaise-loop.png',
                    difficulty: 'Easy',
                    rating: 3
                },
                {
                    title: 'Wickwar Loop',
                    date: '18th Sept 2022',
                    img: 'wickwar-loop.png',
                    difficulty: 'Easy',
                    rating: 5
                },
                {
                    title: 'River Avon Trail',
                    date: '19th Sept 2022',
                    img: 'river-avon-trail.png',
                    difficulty: 'Medium',
                    rating: 2
                },
                {
                    title: 'Strawberry Line',
                    date: '15th Sept 2022',
                    img: 'strawberry-line.png',
                    difficulty: 'Medium',
                    rating: 5
                },
            ]
        }
    }
}
</script>
    
<style scoped lang="scss">
button {
    background-color: #F9E8A7;
    border: none;
    padding: 1em 2em;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s;
    margin: 20px 100px 0px 100px;


    &:hover {
        cursor: pointer;
        background-color: darken(#F9E8A7, 30%);
    }
}
</style>
  