<template>
  <div class="home">
    <div class="page-container">
      <div class="buttons">
        <button class="find" @click="$router.push('/club')">
          <h1 class="button-text"><span>FIND A CLUB</span></h1>
        </button>
        <button class="create">
          <h1 class="button-text"><span>CREATE A CLUB</span></h1>
        </button>
      </div>
      <SectionTitle title="Recent Rides" />
      <div class="club">
        <h1></h1>
        <Rides :rides="rides" />
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'
import Rides from '@/components/Rides.vue'
import SectionTitle from '@/components/SectionTitle.vue'

export default {
  name: 'HomeView',
  components: {
    //HelloWorld
    Rides,
    SectionTitle
  },
  data() {
    return {
      rides: [
        {
          title: 'Three Brooks',
          where: 'Bristol',
          date: '16th Sept 2022',
          img: 'three-brooks.png',
          difficulty: 'Easy',
          rating: 4
        },
        {
          title: 'Blaise Loop',
          date: '17th Sept 2022',
          img: 'blaise-loop.png',
          difficulty: 'Medium',
          rating: 3
        },
        {
          title: 'Wickwar Loop',
          date: '18th Sept 2022',
          img: 'wickwar-loop.png',
          difficulty: 'Hard',
          rating: 5
        },
        {
          title: 'River Avon Trail',
          date: '19th Sept 2022',
          img: 'river-avon-trail.png',
          difficulty: 'Medium',
          rating: 2
        },
        {
          title: 'Strawberry Line',
          date: '15th Sept 2022',
          img: 'strawberry-line.png',
          difficulty: 'Hard',
          rating: 5
        },
      ]
    }
  }
}
</script>

<style lang="scss">
button:hover {
  background-color: darken(#F9E8A7, 30%);
}

.buttons {
  padding-top: 30px;
}

.find {
  background-color: #F9E8A7;
  width: 195px;
  height: 205px;
  border: none;
  margin-right: 100px;
  padding: 30px;

}

.create {
  background-color: #F9E8A7;
  width: 195px;
  height: 205px;
  border: none;
  padding: 30px;
}

.button-text {
  border: 2px solid black;
  text-align: center;
}
</style>
