<template>
    <div class="ride">
        <div class="page-container">

            <button class="members">Club Members</button>
            <button class="info">Club Info</button>

            <SectionTitle title="Blaise Castle Loop" />
            <div class="ride-information">
                <div class="ride-details">
                    <table>
                        <tr>
                            <th>Date:</th>
                            <td>The date here</td>
                        </tr>
                        <tr>
                            <th>Meet time:</th>
                            <td>18:45</td>
                        </tr>
                        <tr>
                            <th>Start point:</th>
                            <td>Sea Mills train station car park</td>
                        </tr>
                        <tr>
                            <th>Features:</th>
                            <td>
                                <ul>
                                    <li>Toilet</li>
                                    <li>Changing facilities at the start</li>
                                    <li>Car parking</li>
                                    <li>Cafe on route</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Description:</th>
                            <td>A 7.9 mile, moderate loop around the Blaise Castle estate.</td>
                        </tr>
                    </table>
                </div>
                <div class="ride-map">
                    <a href="https://cycleplanner.betterbybike.info/leisure-rides/Blaise%20Castle%20Loop"
                        target="_blank" class="map-wrapper">
                        <img src="../assets/blaise-loop.png">
                    </a>
                </div>
            </div>

            <h2>What previous riders think</h2>
            <div class="reviews">
                <div class="summary">
                    <h3>Ratings:</h3>
                    <table>
                        <tr>
                            <th>Scenery:</th>
                            <td class="ratings">&#9733; &#9733; &#9733; &#9733; &#9733;</td>
                        </tr>
                        <tr>
                            <th>Traffic:</th>
                            <td class="ratings">&#9733; &#9733; &#9734; &#9734; &#9734;</td>
                        </tr>
                        <tr>
                            <th>Terrain:</th>
                            <td class="ratings">&#9733; &#9733; &#9733; &#9733; &#9734;</td>
                        </tr>
                        <tr>
                            <th>Hilly:</th>
                            <td class="ratings">&#9733; &#9733; &#9733; &#9733; &#9733;</td>
                        </tr>
                        <tr>
                            <th>Overall:</th>
                            <td class="ratings">&#9733; &#9733; &#9733; &#9733; &#9734;</td>
                        </tr>
                    </table>
                </div>
                <div class="review-list">
                    <h3>Previous comments</h3>
                    <ul>
                        <li>
                            <p>Loved it! Great scenery but a bit too much traffic for me</p>
                            <p>Gary T - rode on 14/08/22</p>
                        </li>
                        <li>
                            <p>Beware, huge hill in the middle but great coffee in the cafe</p>
                            <p>Jemma P - rode on 21/07/22</p>
                        </li>
                    </ul>
                </div>
            </div>

            <button>Join the ride</button>
        </div>
    </div>
</template>

<script>
import SectionTitle from '@/components/SectionTitle.vue';

export default {
    components: {
        SectionTitle,
    },
}
</script>
    
<style scoped lang="scss">
h2 {
    text-align: left;
}

.ride-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin-bottom: 6em;
}

th {
    padding-right: 1em;
}

th,
td {
    text-align: left;
    vertical-align: top;

    &.ratings {
        color: gold;
    }

    ul {
        margin: 0;
        padding-left: 1em;
    }
}

.ride-map {
    .map-wrapper {
        background-color: #ccc;
        width: 100%;
        aspect-ratio: 16/9;
    }
}

.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;

    h3 {
        text-align: left;
    }
}

.review-list {
    text-align: left;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li:not(:last-child) {
            border-bottom: 1px solid #ccc;
        }
    }
}

img {
    width: 100%;
    display: block;
    border: 1px solid;
}

button {
    background-color: #F9E8A7;
    border: none;
    padding: 1em 2em;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s;
    margin: 20px 100px 0px 100px;


    &:hover {
        cursor: pointer;
        background-color: darken(#F9E8A7, 30%);
    }
}
</style>
