<template>
  <div class="home">
    <header class="box" @click="$router.push('/home')">
      <h1><span class="name">BIKE CLUB</span></h1>
      <p class="text">WHERE CYCLING STARTS</p>
    </header>
  </div>
</template>

<script>

</script>

<style>
.box {
  background-color: #F9E8A7;
  box-shadow: 2px 3px lightgray;
}

.name {
  border: 3px solid black;
  background-color: #F9E8A7;
  padding: 5px;
  margin: 20px;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
}

.text {
  font-weight: 900;
  margin-bottom: 10px;
  margin-top: 0px;
  display: inline-block;
}
</style>