<template>
    <div class="ride" @click="$router.push('/ride')">
        <h1>{{details.title}}</h1>
        <p class="date">{{details.date}}</p>
        <img :src="require('@/assets/' + details.img)" />
        <div class="rating">
            Rating:
            <span v-for="(num, index) in details.rating" :key="'star-'+index">&#9733;</span>
            <span v-for="(num, index) in parseInt(5 - details.rating)" :key="'empty-star-'+index">&#9734;</span>
        </div>
        <p v-if="details.difficulty" class="best-for">Difficulty: {{details.difficulty}}</p>
        <button class="join">Join ride</button>
    </div>
</template>
  
<script>
export default {
    name: 'HelloWorld',
    props: {
        details: Object
    },
    computed: {
        emptyStars() {
            return (5 - this.details).toString;
        },
    },
    mounted() {
        console.log(this.details)
    }
}
</script>
  
  <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.ride {
    flex: 0 0 300px;
    border: 1px solid #ccc;
    padding: 1em;
    background-color: white;

    &:hover {
        cursor: pointer;
    }
}

.image-wrapper {
    background-color: #ccc;
    width: 100%;
    aspect-ratio: 16/9;
}

img {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
}

span {
    color: gold;
}

button {
    background-color: #F9E8A7;
    border: none;
    padding: 1em 2em;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
        background-color: darken(#F9E8A7, 30%);
    }
}
</style>
  