<template>
    <div class="rides">
        <div class="ride-list">
            <Ride v-for="(ride, index) in rides" :key="index" :details="ride" />
        </div>
    </div>
</template>
  
<script>
import Ride from '@/components/Ride.vue'

export default {
    name: 'HelloWorld',
    components: {
        Ride
    },
    props: {
        rides: Array
    },
    mounted() {
        console.log(this.rides);
    }
}
</script>
  
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.ride-list {
    display: flex;
    gap: 2em;
    overflow: scroll;
    overflow: auto;
}
</style>
  