<template>
    <div class="section-title">
        <h2><span class="title">{{title}}</span></h2>
    </div>
</template>

<script>
export default {
    name: 'SectionTitle',
    props: {
        title: String
    },
}
</script>

<style scoped lang="scss">
.section-title {
    background-color: #F9E8A7;
    box-shadow: 2px 3px lightgray;

    .title {
        border: 3px solid black;
        background-color: #F9E8A7;
        padding: 5px;
        margin: 20px;
        font-weight: 900;
        text-align: center;
        display: inline-block;
        margin-bottom: 10px;
        font-size: 20px;
        text-transform: uppercase;
    }

    .text {
        font-weight: 900;
        margin-bottom: 10px;
        margin-top: 0px;
        display: inline-block;
    }
}
</style>