<template>
  <div id="app">
    <HomeHeader />
    <router-view />
  </div>
</template>

<script>
import HomeHeader from '@/components/HomeHeader.vue'

export default {
  name: 'App',
  components: {
    HomeHeader
  }
}


</script>
<style lang="scss">
html,
body {
  background-color: rgb(246, 246, 246);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}

nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.page-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 5em;
}
</style>
